.title
  text-align: center
  margin-top: 30px
  font-size: 30px

.grid
  display: table
  margin: 0 auto
  height: 400px

.controlPannel
  position: relative
  text-align: center
  margin-top: 5px

.empty
  background-color: ghostwhite
  width: 20px
  height: 20px
  border-style: solid
  border-width: 1px
  border-color: gray
  float: left

.full
  background-color: aquamarine
  width: 20px
  height: 20px
  border-style: solid
  border-width: 1px
  border-color: gray
  float: left

.empty:hover
  border-width: 2px

.full:hover
  border-width: 2px
.indicator
  text-align: center
  margin-top: 5px
  margin-bottom: 5px